<mat-card class="example-card">
  <img mat-card-image src="https://raw.githubusercontent.com/Mario23junior/Messier-Objects-API/main/doc/messierlogo.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      O Catálogo Messier é formado por 110 objetos do céu profundo e foi criado pelo astrônomo francês Charles Messier entre os anos de 1764 e 1781.
      Esse catálogo foi criado para identificar objetos do céu profundo (aglomerados estelares, nebulosas e galáxias)
    </p>
  </mat-card-content>
</mat-card>
