.container {
   height: 100%;
 }

 .sidenav{
  width: 13rem;
  color:white;
 }

 img {
  padding-left: 1rem;
  width: 80%;
  height: 11rem;
  margin: 5% auto 4rem;
 }

 .sidenav a {
   color: white;
 }

 .sidenav i {
  padding-bottom: 9%;
  margin-left: 2px;
 }

 .menu {
  margin: 1rem 0 0 1rem;
 }