<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <img src="assets/logo.png" />
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/home" class="nav-list">
        <i class="material-icons">home</i>
        Home
      </a>
      <a mat-list-item routerLink="/catalog-list" class="nav-list">
        <i class="material-icons">map</i>
        Mapas
      </a>
      <a mat-list-item routerLink="/" class="nav-list">
        <i class="material-icons">travel_explore</i>
        Explore
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>